.text-field {
  -fx-border-width: 2px 2px 2px 2px;
  -fx-border-radius: 5px;
  -fx-border-color: #8c8c8c;
  -fx-text-fill: #000000;
  -fx-prompt-text-fill: #8c8c8c;
}

.text-field:focused{
  -fx-border-color: #4b68d2;
}

.button {
  -fx-text-fill: #ffffff;
  -fx-background-color: #4b68d2;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #2c53d2;
}

.button:disabled, .button:default:disabled {
  -fx-opacity: 0.4;
  -fx-background-color: #1d1d1d;
  -fx-text-fill: white;
}

.button:hover{
  -fx-background-color: #3053d2;
}

.progress-indicator{
  -fx-progress-color: #4b68d2;
}